$white: #ffffff;
$white-gray: #f4f7fe;
$black: #000000;
$blue-dark: #2b3674;
$blue: #4318ff;
$blue-light: #7a85ec;
$gray-dark: #707eae;
$gray: #a3aed0;
$green-dark: #05cd99;
$green: #65d5ac;
$red-dark: #cd0505;
$red: #ec7a7a;
