@import "../../../../assets/scss/variable.scss";

.breadcrump {
  ol li {
    a,
    span {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: $gray-dark;

      &.current-page {
        text-decoration: none;
        cursor: default;
      }
    }
  }
}
